@page
@model CIE206PROJECT.Pages.Opmngr_Pages.ActiveCourses

<div class="container-fluid p-3">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <h1 class="display-3 text-center mb-3">Currently Active Courses</h1>
        </div>
        <div class="row justify-content-center align-items-center mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Course Name</th>
                        <th scope="col" class="text-center">Course ID</th>
                        <th scope="col" class="text-center">Tutor</th>
                        <th scope="col" class="text-center">Visible?</th>
                        <th scope="col" class="text-center">In Progress?</th>
                        <th scope="col" class="text-center">Start-End Dates?</th>
                        <th scope="col" class="text-center">Info</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="align-middle text-center">Starting with scratch</td>
                        <td class="align-middle text-center">12</td>
                        <td class="align-middle text-center">Ahmed Mohamed</td>
                        <td class="align-middle text-center"> <i class="bi bi-check-circle-fill text-success"></i></td>
                        <td class="align-middle text-center"> <i class="bi bi-x-circle-fill text-danger"></i></td>
                        <td class="align-middle text-center">12/Apr/'22 to 12/June/'22 </td>
                        <td class="align-middle text-center"><a href="#">EDIT</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="align-middle text-center">Learn Python</td>
                        <td class="align-middle text-center">12</td>
                        <td class="align-middle text-center">Mohamed Ahmed</td>
                        <td class="align-middle text-center"> <i class="bi bi-check-circle-fill text-success"></i></td>
                        <td class="align-middle text-center"> <i class="bi bi-check-circle-fill text-success"></i></td>
                        <td class="align-middle text-center">22/Apr/'22 to 30/June/'22 </td>
                        <td class="align-middle text-center"><a href="#">EDIT</a></td>
                    </tr>                    <tr>
                        <th scope="row">3</th>
                        <td class="align-middle text-center">Basics of Web Devalopment</td>
                        <td class="align-middle text-center">12</td>
                        <td class="align-middle text-center">Ahmed Mohamed</td>
                        <td class="align-middle text-center"><i class="bi bi-x-circle-fill text-danger"></i></td>
                        <td class="align-middle text-center"><i class="bi bi-x-circle-fill text-danger"></i></td>
                        <td class="align-middle text-center">12/Apr/'21 to 12/June/'21 </td>
                        <td class="align-middle text-center"><a href="#">EDIT</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>