@page
@model CIE206PROJECT.Pages.Opmngr_Pages.Course_Edit

<div class="container-sm">
    <div class="card">
        <img class="card-img-top" src="https://cdn.crispedge.com/43464b.png"
            style="padding: 0px; overflow:hidden; height:300px;" alt="Title">
        <div class="card-body">
            <div class="row">
                <div class="row mt-4">
                    <div class="col-12 col-xl-9">
                        <form action="" method="get">
                            <h4 class="card-title">Course Name</h4>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col">
                        <h4 class="card-title">Change Image</h4>

                        <input type="file" class="form-control" id="customFile" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h4>Course description</h4>
                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="5"></textarea>
                            <label class="form-label" for="textAreaExample">Message</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h4>Course Introductory Video</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">

                        <div class="form-outline">
                            <input type="text" id="formTextExample1" class="form-control"
                                aria-describedby="textExample1" />
                            <label class="form-label" for="formTextExample1">Video Link</label>
                        </div>
                        <div id="textExample1" class="form-text">
                            Please enter a youtube link
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4 mb-4">
                    <div class="col-12 col-lg-10 p-3 card ">
                        <div class="ratio ratio-16x9 ">
                            <iframe src="https://www.youtube.com/embed/KC6cPq-NmuU" title="YouTube video"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 justify-content-around">
                    <h4>Start & Finish Dates</h4>
                </div>
                <span class="rounded rounded-4 shadow-sm py-0 px-4">

                    <div class="row justify-content-evenly">
                        <div class="col-12 col-xl-3 me-auto ca p-3 pt-2">
                            <label for="startDate">Start</label>
                            <input id="startDate" class="form-control" type="date" />
                        </div>
                        <div class="col-12 col-xl-3 ms-auto p-3">
                            <label for="startDate ">End</label>
                            <input id="startDate" class="form-control" type="date" />
                        </div>
                    </div>
                </span>
                <div class="row mt-5 justify-content-around">
                    <h4>Course Status & Visibilty</h4>
                </div>
                <span class="rounded rounded-4 shadow-sm py-0 px-4">

                    <div class="row">
                        <div class="col-12 col-xl-3 me-auto ca p-3 d-flex align-items-center justify-content-center">
                            <h3 class="text-center">Currently Running: <i class="bi bi-check-circle-fill"></i></h3>
                        </div>
                        <div class="col-12 col-xl-3 ms-auto p-3">
                            <h6 class="text-center">Course Currently Visible?</h6>
                            <div class="btn-group-vertical text-center d-flex justify-content-center">
                                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" />
                                <label class="btn btn-secondary" for="option1">Visible</label>
                                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                                <label class="btn btn-secondary" for="option2">Hidden</label>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>


