@page
@model CIE206PROJECT.Pages.STEM_svpages.StemsvModel
@{
}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Teams</span>
                </a>
                <button href="#modalreview" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Evaluate Trainers</span>
                </button>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>View Trainers Evaluation</span>
                </a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <ul class="cards">
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" data-target="#exampleModal" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li class="card">
                <img src="https://placehold.co/252" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trainer</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
                <div class=" container d-flex justify-content-center align-items-center">

                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h5 class="review-count">12 Reviews</h5>
                        </div>


                        <div class="mt-5 d-flex justify-content-between align-items-center">
                            <h5 class="review-stat">Cleanliness</h5>
                            <div class="small-ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
        <section>
            <div>
                <!-- Button trigger modal -->
                <button style="align-self:center;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</main>

