@page
@model CIE206PROJECT.Pages.Admin_Pages.Tables

<!-- ==========  the offcanvas head ========== -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDataoptions"
    aria-labelledby="offcanvasDataoptionsLabel">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title display-6" id="offcanvasDataoptionsLabel">
            Choose Your Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- ==================================== -->
    <!-- ==========  the offcanvas body ========== -->

    <div class="offcanvas-body">
        <div>
            <p class="lead">Please choose what data you would like displayed</p>
        </div>
        <br>

        <ul class="list-unstyled">
            <li>
                <div class="d-grid gap-2 m-3 mx-0">
                    <button type="submit" class="btn btn-outline-dark " asp-page-handler="Finance" id="Finance">
                        Finance
                        Information
                    </button>
                </div>
            </li>
            <li>
                <div class="d-grid gap-2 m-3 mx-0">
                    <button type="submit" class="btn btn-outline-dark" asp-page-handler="CourseAtt" id="CourseAtt">
                        Course Attendance
                    </button>
                </div>
            </li>
            <li>
                <div class="d-grid gap-2 m-3 mx-0">
                    <button type="submit" class="btn btn-outline-dark" asp-page-handler="InstRate" id="InstRate">
                        Instructor Ratings
                    </button>
                </div>
            </li>
            <li>
                <div class="d-grid gap-2 m-3 mx-0">
                    <button type="submit" class="btn btn-outline-dark" asp-page-handler="CourseFeedback"
                        id="CourseFeedback">
                        Course Feedback
                    </button>
                </div>
            </li>

        </ul>

    </div>
</div>
<!-- =================================== -->

