@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="card mb-3">
            
            <div class="row g-0">

                <div class="col-md-4 d-flex align-self-center bg-primary">

                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
@*                                <h5 class="lead">Name -- LEAVE EMPTY FOR TMP LOGIN</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="FirstName SecondName" aria-label="Username"
                                           aria-describedby="basic-addon1" />
                                </div>

                                <h5 class="lead">Email -- USE THIS AS EMAIL INPUT FOR TEMP LOGIN</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Email"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                    <span class="input-group-text" id="basic-addon2">@@example.com</span>
                                </div>

                                <h5 class="lead">Password -- USE THIS AS PASSWORD INPUT FOR TEMP LOGIN</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Email"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                </div>*@
                                @if (!Model.isLoggedin())
                                {
                                    <form method="post" asp-page-handler="Login">

                                        <div class="mb-3">
                                            <label for="" class="form-label">Username</label>
                                            <input type="" class="form-control" placeholder="abc123" name="Email" asp-for="@Model.Email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Password</label>
                                            <input type="password" class="form-control" placeholder="" name="Password" asp-for="@Model.Password">
                                        </div>

                                        <button type="submit" class="btn btn-primary" asp-page-handler="Login">Login</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-page-handler="Logout">
                                        <button type="submit" class="btn btn-danger" asp-page-handler="Logout">Logout</button>
                                    </form>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>