@page
@model CIE206PROJECT.Pages.Login

<div class="container">
    <div class="row">
        <div class="card mb-3">
            
            <div class="row g-0">
                <div class="col-md-4 d-flex align-self-center">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipOiZBtoDdur9v0oyJnrmZt305i7MdUjjanDD7gb=s1360-w1360-h1020"
                        alt="Logo" class="img-fluid rounded-start " />
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <h5 class="lead">Name</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="FirstName SecondName" aria-label="Username"
                                        aria-describedby="basic-addon1" />
                                </div>

                                <h5 class="lead">Email</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Email"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                    <span class="input-group-text" id="basic-addon2">@@example.com</span>
                                </div>
                                
                                <h5 class="lead">Password</h5>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Email"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>