@page
@model CIE206PROJECT.Pages.UnboughtCoursePageModel
@{
}

<section class="head">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 col-12 col-sm-12">
                <svg class="bd-placeholder-img card-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                        dy=".3em"></text>
                </svg>
            </div>
            <div class="col-md-8 col-12 col-sm-12">
                <div class="card-body p-4">
                    <div class="card-title text-center mt-3 display-3"> Course Name</div>
                    <div class="d-flex justify-content-center flex-row flex-wrap overflow-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center d-flex">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-12 col-sm-12 col-lg-5 mb-3">
                    <div class="card p-4 mb-3">
                        <div class="card-body">
                            <div class="card-title h5"> This Course is Priced at</div>

                            <div class="card-title display-4"> $12.33 </div>
                            <div class="card-title h5 mb-1"> per month for your age group</div>
                        </div>


                    </div>
                    <div class="card mb-3">
                        <div class="card-body m-4">
                            <div class="card-title mb-3 h5"> Course Information</div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-2">Total Sessions</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">123</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-1">Start Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">12:44 Januarry 3393</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-1">Capacity</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">123</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body m-4">
                            <div class="card-title mb-3 h5"> Tutors</div>
                            <div class="row mb-2" >
                                <div class="col-sm-3">
                                    <p class="mb-2">Tutor Names</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Steve steveinson</p>
                                    <p class="text-muted mb-0">Steve steveinson</p>
                                    <p class="text-muted mb-0">Steve steveinson</p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-2">Tutor Emails</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">example@example.com</p>
                                    <p class="text-muted mb-0">example@example.com</p>
                                    <p class="text-muted mb-0">example@example.com</p>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="col">
                    <div class="card mx-auto mb-3">
                        <div class="card-body">
                            <h2 class="card-title display-6 text-primary text-center mb-4 font-weight-bold">Join the
                                Mind Builders TechStyle Programming Course Today!</h2>
                            <h5 class="card-subtitle mb-2 text-muted text-center">For Kids and Parents Who Want to Learn
                                to Code</h5>
                            <p class="card-text">
                                Mind Builders is excited to offer our TechStyle programming course for kids and parents
                                who want to learn to code. Our expert instructors, who are trained in programming, will
                                guide your child through the fundamentals of coding, including HTML, CSS, and
                                JavaScript. The course is priced differently based on age groups which are as follows:
                            </p>
                            <p class="card-text">
                                Each age group is managed by several experienced tutors, so your child will receive
                                personalized attention and guidance. Meetings are held both online and in-person, and we
                                offer a clean and user-friendly interface on our website for all course materials and
                                communication with the instructors.
                            </p>
                            <p class="card-text">
                                By the end of the course, your child will have the skills and knowledge to build their
                                own projects from scratch. Plus, they'll get to meet other like-minded individuals and
                                have fun while learning an essential skill that can benefit them for years to come.
                            </p>
                            <p class="card-text">
                                Don't miss out on this incredible opportunity! Enroll your child today and watch them
                                become a skilled programmer with Mind Builders TechStyle Programming Course.
                            </p>
                            <div
                                class="embed-responsive embed-responsive-16by9 mx-auto mb-3 d-flex justify-content-center">
                                <iframe class="mt-3 embed-responsive-item"
                                    src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>

</section>

