@page
@model CIE206PROJECT.Pages.Content_Dev.content_devModel
@{
}
<div class="container-sm">
    <section class="profile mt-4">

        <div class="row mb-2 g-2 align-items-center justify-content-center d-flex">

            <div class=" col-4 col-sm-5 mb-3 mb-sm-3 col-md-4 col-lg-3 col-xxl-2">
                <div class="card  h-100 p-4 text-center d-block align-self-stretch">

                    <img src="https://www.tutorialspoint.com/bootstrap/images/64.jpg" class="rounded-circle" width="64">
                    <div class="card-title m-2 h6">User Name <span class="badge bg-primary rounded-pill">Content Developer</span> </div>
                    <div class="card-body">
                        <div class="card-text text-muted">
                            Student Level
                            <br>
                            Parent Name
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 col-xxl-10">
                <div class="card h-100 user-information align-self-stretch p-4">
                    <div class="card-title h5 text-center">User Information</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-2">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-2">Phone Numbers</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678 </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-1">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-1">Join date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Janurary 2092</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-1">Birthday</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">febuary 2021</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <span>
            <h4 style="font-weight:bold; display:inline">Teams: </h4>
            <button type="button" class="btn btn-primary btn-circle btn-md">+</button>
        </span>
        <div class="container">
            <ul class="cards">
                <li class="card">
                    <div style="width: 18rem;">
                        <img src="https://placehold.co/252" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Team 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div>
                        <h3 class="card-title">Team 2</h3>
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
                        </div>
                    </div>
                    <div class="card-link-wrapper">
                        <a href="" class="card-link">Learn More</a>
                    </div>
                </li>
                <li class="card">
                    <div>
                        <h3 class="card-title">Team 3</h3>
                        <div class="card-content">
                            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
                        </div>
                    </div>
                    <div class="card-link-wrapper">
                        <a href="" class="card-link">Learn More</a>
                    </div>
                </li>
                <li class="card">
                    <div>
                        <h3 class="card-title">Team 4</h3>
                        <div class="card-content">
                            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
                        </div>
                    </div>
                    <div class="card-link-wrapper">
                        <a href="" class="card-link">Learn More</a>
                    </div>
                </li>
                <li class="card">
                    <div>
                        <h3 class="card-title">Team 5</h3>
                        <div class="card-content">
                            <p>Vestibulum pharetra fringilla felis sit amet tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras et arcu sit amet est consequat feugiat. Nam ut sapien pulvinar.</p>
                        </div>
                    </div>
                    <div class="card-link-wrapper">
                        <a href="" class="card-link">Learn More</a>
                    </div>
                </li>
                <li class="card">
                    <div>
                        <h3 class="card-title">Team 6</h3>
                        <div class="card-content">
                            <p>Donec ut tincidunt nisl. Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
                        </div>
                    </div>
                    <div class="card-link-wrapper">
                        <a href="" class="card-link">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row g-2 justify-content-center d-flex">
            <div class="col-lg-8 col-md-12">

                <div class="card p-4 ">
                    <div class="card-title text-center h5"> Trainer Evaluation</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <p class="text-center h6 mt-2">Criteria 1</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <p class="text-center h6 mt-2">Criteria 2</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <p class="text-center h6 mt-2">Criteria 3</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <p class="text-center h6 mt-2">Criteria 4</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <section class="courses mt-2">
                    <div class="d-flex mb-1 flex-row flex-wrap overflow-auto">
                        <div class="card m-1" style="width: 200px; height: 250px;">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6"
                                      dy=".3em"></text>
                            </svg>
                            <div class="card-body text-center">
                                <h5 class="card-title">Card Title 1</h5>
                                <p class="card-text">group no <br> Trainer</p>
                            </div>
                        </div>

                        <div class="card m-1" style="width: 200px; height: 250px;">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6"
                                      dy=".3em"></text>
                            </svg>
                            <div class="card-body text-center">
                                <h5 class="card-title">Card Title 1</h5>
                                <p class="card-text">group no <br> Trainer</p>
                            </div>
                        </div>
                        <div class="card m-1" style="width: 200px; height: 250px;">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6"
                                      dy=".3em"></text>
                            </svg>
                            <div class="card-body text-center">
                                <h5 class="card-title">Card Title 2</h5>
                                <p class="card-text">group no <br> Trainer</p>
                            </div>
                        </div>
                        <div class="card m-1" style="width: 200px; height: 250px;">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6"
                                      dy=".3em"></text>
                            </svg>
                            <div class="card-body text-center">
                                <h5 class="card-title">Card Title 3</h5>
                                <p class="card-text">group no <br> Trainer</p>
                            </div>
                        </div>
                    </div>
                </section>




            </div>

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-action flex-column  align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 p-1">Subject</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">
                                content of the message Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga impedit voluptates iusto, repudiandae laudantium laborum? Sapiente, minus, odio et
                                nostrum rerum assumenda adipisci delectus minima sit placeat asperiores deleniti nam.
                                varius blandit.
                            </p>
                            <div class="text-muted">
                                User name <span class="badge bg-secondary rounded-pill">Supervisor</span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 p-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1 ">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                varius blandit.
                            </p>
                            <div class="text-muted">
                                User name <span class="badge bg-secondary rounded-pill">Trainer </span>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 p-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                varius blandit.
                            </p>
                            <div class="text-muted">
                                User name <span class="badge bg-secondary rounded-pill">Trainer </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


    </section>

</div>
